<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <div class="container">
      <div id="show-card">
        <header id="show-card-header">
          <p><%= pokemon.name %></p>
          <a href="/pokemon/<%=index%>/edit">Edit</a>
        </header>
        <div id="show-card-img">
          <img src="<%= pokemon.img%>" alt="" />
        </div>
        <div id="show-card-details">
          <div id="types">
            <ul>
              <p>Types</p>
              <% for(let i = 0; i < pokemon.type.length; i++){ %>
              <li id="type-name">
                <img
                  id="type-svg"
                  src="<%= type[12].svg %>"
                  alt=""
                /><%=pokemon.type[i]%>
              </li>
              <% } %>
            </ul>
          </div>
          <div id="stats">
            <ul>
              <p>Stats</p>
              <li>
                <i class="fa-solid fa-heart"></i>HP: <%= pokemon.stats.hp%>
              </li>
              <li>
                <i class="fa-solid fa-bomb"></i>Attack: <%=
                pokemon.stats.attack%>
              </li>
              <li>
                <i class="fa-solid fa-shield-halved"></i>Defense: <%=
                pokemon.stats.defense%>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <footer>
        <a href="/pokemon">Back to Pok&eacute;dex</a>
        <form action="/pokemon/<%=index%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Pok&eacute;mon" />
        </form>
      </footer>
    </div>
  </body>
</html>
